<!DOCTYPE HTML>
<html ng-app="myApp">
	<head>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">	
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	</head>
	<body>
		<div class="input-group" ng-controller="mainController">
			<input type='text' placeholder='Name' class="form-control" ng-model="nameInput" />
			<input type='text' placeholder='Message' class="form-control" ng-model="messageInput" ng-keypress="checkEnter($event)" />	
			<table class="table table-bordered" ng-repeat="message in messages">
				<tr>
					<td>
						<p>{{ message.user }}</p>
					</td>
				</tr>
				<tr>
					<td>
						{{ message.text }}
					</td>
				</tr>
			</table>
		</div>

		<script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>			
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


	</body>
</html>
